# ===== Oracle (Backend Java) =====
DB_URL=jdbc:oracle:thin:@ORACLE.FIAP.COM.BR:1521:ORCL
DB_USER=
DB_PASSWORD=

# ===== Backend Python =====
PYTHON_SERVICE_URL=http://localhost:5000
PYTHON_SERVICE_PORT=5000

# ===== Backend Java =====
JAVA_SERVICE_PORT=8080
DB_URL=
DB_USER=
DB_PASSWORD=
JWT_SECRET=
JWT_EXPIRATION_MS=
JWT_REFRESH_EXPIRATION_DAYS=